{% extends 'base.html' %}
{% block content %}
{% set p=info.participant %}
<div class="card">
    <h1>{{p.full_name}}</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr><th>Класс</th>
                    <td>{{p.class_num}}</td>
                </tr>
                <tr>
                    <th>Регион</th>
                    <td>{{p.region}}</td>
                </tr>
                <tr>
                    <th>Школа</th>
                    <td>
                        {{p.school or 'Не найдена'}}
                        {% if p.school_region %} ({{p.school_region}})
                        {% endif %}
                    </td>
                </tr>
            <tr>
                <th>Итоговый балл</th>
                <td>
                    <b>{{info.total_score}}</b>
                </td>
            </tr>
            <tr>
                <th>Итоговое место</th>
                <td>{{info.total_rank}}</td>
            </tr>
            <tr>
                <th>Первый тур</th>
                <td>{{info.first_score}} баллов, место {{info.first_rank}}</td>
            </tr>
            <tr>
                <th>Второй тур</th>
                <td>{{info.second_score}} баллов, место {{info.second_rank}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Задача</th>
                    {% for i in range(1,9) %}
                    <th>{{i}}</th>
                    {% endfor %}</tr>
                </thead><tbody>
                    <tr>
                        <th>Балл</th>
                        {% for s in info.scores %}
                        <td>{{s or 0}}</td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card">
    <h2>Графики баллов</h2>
    <div class="column">
        {% for mode in ['first','second','both'] %}
        <div class="col-md-4">
            <img class="chart-img" src="{{ url_for('chart', pid=p.id, kind='score', mode=mode) }}">
        </div>
        {% endfor %}
    </div>
</div>
<div class="card">
    <h2>Графики места</h2>
    <div class="column">
        {% for mode in ['first','second','both'] %}
        <div class="col-md-4">
            <img class="chart-img" src="{{ url_for('chart', pid=p.id, kind='rank', mode=mode) }}">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
